<style type="text/css">
	form {
		width: 300px;
		height: 300px;
	}
</style>
<form role="form" action="" name="login-form" method="POST">
    <div class="form-group">
        <input type="text" maxlength="50" class="form-control" placeholder="Логин..." ng-model="login">
    </div>
    <div class="form-group">
        <input type="password" maxlength="50" class="form-control" placeholder="Пароль..."  ng-model="password">
    </div>
    <button class="btn btn-default" ng-click="loginClick()">Войти</button>
</form>
