/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Основные стили для страницы */
body {
	background: #F0FFFF;
	margin: 0;
}

/* Контейнер страницы */
.container {
	background: #778899;
	max-width: 600px;
	min-width: 300px;
	margin:0 auto;
	min-height: 700px;

	.header {
		margin: 0px 10px;
		h1 {
			margin: 0;
			color: #FF4500;
		}
	}

	.footer {
		position: relative;
		bottom: 0px;
		height:50px;
		margin-top:20px;
		background: #008899;
	}
}
/* Блог страницы */
.blog {
	margin-left: 10px;
	margin-right: 10px;

	.post {
		margin-top: 10px;
		.content {
			color: white;
		}

		.comments {
			margin-top: 10px;
			.no-comments {
				text-align: center;
				&.hide {
					display: none;
				}
			}			
			.comment {
				margin-bottom: 5px;
				margin-left: 20px;
				border-bottom: 1px solid gray;
			}
			.button-add-comment {
				width: 200px;
				display: block;
				margin: auto;
				&.hide {
					display: none;
				}				
			}
			
			.add-comment {
				width: 240px;
				display: block;
				margin: auto;
				float:none;
				label {
					display: inline-block;
					width: 100%;
					float:left;
				}
				input {
					display: inline-block;
					float:left;
				}
				textarea {
					display: inline-block;
					float:left;
					resize: none;
				}
				.button-submit {
					margin: 5px auto;
					width: 100px;
					float:left;
				}
				&.hide {
					display:none;
				}				

			}

		}
	}
}

.clear { 
	clear:both;
}
/* Кнопка */
.button {
	border: 1px solid #008080;
	background: #00FFFF;
	color: #2F4F4F;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	&:hover {
		background: #00FF11;
	}
}
