<div ng-controller="BlogsList">
    <p>
        Новый блог
    </p>
    <p ng-repeat="blog in blogs">
        {{blog.id}} {{blog.name}}
    </p>
</div>
<div>
    <form role="form" action="" name="blog" method="POST">
        <div class="form-group">
            <label for="name">Название блога:</label>
            <input type="password" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="content">Содержание блога:</label>
            <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <button class="btn btn-default" id="save_blog">Войти</button>
    </form>
    <div class="comments">
        <div class="comment">

        </div>
    </div>
</div>
