.row.post {
	min-width: 410px;
}
.well .left {
	float:left;
}
.well .right {
	float:right;
}
.cl {
	clear: both;
}
.add_comment {
	border-bottom: 1px dashed white;
	cursor: pointer;
	width: 160px;
	margin-bottom: 10px;
}
#form_comment {
	display:none;
}