/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: OpenSans; /* Гарнитура шрифта */
	src: url(/assets/fonts/opensans/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: OpenSansSemiBold; /* Гарнитура шрифта */
	src: url(/assets/fonts/opensans/OpenSans-Semibold.ttf); /* Путь к файлу со шрифтом */
}


.clear {
	clear:both;
}

body {
	background: #CCC;
	color: #111;
	font-family: OpenSans;
	padding-top: 20%;
}

a {
	text-decoration: none;
	color: #444;
	font-weight: bold;
}

a:hover {
	color: #fff;
}

main {
	width: 100%;
	margin: 0 auto;
}

h2 {
	text-align: center;
	font-family: OpenSansSemiBold;
	color: #656565;
	font-size: 30px;
}

.resistor {
	margin-top: 30px;
	text-align: center;
}