ings_n {
	margin: 0 10% 0 10%;
	padding: 10px 0 10px 0;
	text-align: center;
	background: #61A7C1;
	border: 1px;
	border-radius: 10px;
}

input[radio] {

}

p {
	
}

.colors {
	margin: 2em 10% 2em 10%;
	padding: 10px 0 30px 0;
	text-align: center;
	background: #357D96; /*#AED4F3*/
	border: 1px;
	border-radius: 10px;
}

.result {
	margin: 0 10% 0 10%;
	padding: 10px 0 30px 0;
	text-align: center;
	background: #10485D;
	border: 1px;
	border-radius: 10px;
}